.title{
    font-weight: 700;
    font-size: 46px;
    width: 100%;
    line-height: 50px;
    max-width: 700px;
    @media(max-width:$mantine-breakpoint-sm){
        font-size: 35px;
        line-height: 40px;
    }
    @media(max-width:$mantine-breakpoint-xs){
        font-size: 27px;
        line-height: 35px;
    }
}

.Anchortitle{
    font-size: 30px;
    @media(max-width:$mantine-breakpoint-xs){
        font-size: 13px;
    }   
}

.Cards{
    height: 100%;
    height: 250px;
    padding: 20px 10px;
}


.CardText{
    font-weight: 700;
    font-size: 20px;
}

.cardFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerText{
    font-size: 15px;
}

.Icon{
    width: 100px;
    height: 100px;
}