.TabsList{
    border: none;
    background-color: #F4F5F9;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


.Maintitle{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    @media(max-width:$mantine-breakpoint-sm){
        font-size: 33px;
        line-height: 40px;
    }
    @media(max-width:$mantine-breakpoint-xs){
        font-size: 27px;
        line-height: 35px;
    }
}
.Tab{
    /* background-color: aqua; */
}
.Card{
    border: 1px solid black;
    border-radius: 6px;
    height: 100%;
    min-height: 400px;
}

.CardImage{
    width: 100%;
    height: 200px;
}
.title{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}

.text{
    margin-top: 10px;
    color: #BAB9BF;
}

.Tabs.Tab{
    border: none;
}

.contentBox{
    padding: 0px 20px;
}